*{
    font-family: sans-serif;
}


body{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: whitesmoke;
    box-sizing: border-box;
    align-items: center;
    font-size: 28px;
    background: linear-gradient(rgb(47,150,163), rgb(48,62,143));
}

.information{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    margin-left: 10vh;
    font-size: 30px;
}

.icon{
    display: -ms-inline-flexbox;
    justify-content: right;
    margin-right:  30vh;
}